	a{
		transition: all 0.5s;
		font-family: Lucida Sans Unicode;
		font-size: 15px;
	}

	a.contact-btn.active {
		color: #F98349 !important;
	}

	a.navbar-brand.active {
		color: white		!important;
	}

	a.skills-btn.active {
		color: #71A0F7		!important;
	}

	a.project-btn.active {
		color: #6FC43E		!important;
	}

	a.navbar-brand:hover {
		color: white		!important;
	}

	a.contact-btn:hover {
		color: #F98349		!important;
	}

	a.skills-btn:hover {
		color: #71A0F7		!important;
	}

	a.project-btn:hover {
		color: #6FC43E		!important;
	}