<div class="container">
<nav class="navbar navbar-default navbar-fixed-top navbar-inverse">
    <div class="container">
    <div class="navbar-header">
        <button type="button" data-target="#navbarCollapse" data-toggle="collapse" class="navbar-toggle">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a routerLink="/home" routerLinkActive="active" class="navbar-brand act"><i class="fa fa-home" aria-hidden="true"></i>Home</a>
    </div>
    
    <div id="navbarCollapse" class="collapse navbar-collapse">
        <ul class="nav navbar-nav navbar-right">
            <li><a class="project-btn" routerLink="/projects" routerLinkActive="active"><i class="fa fa-folder-open"></i>Projects</a></li>
            <li><a class="skills-btn" routerLink="/skills" routerLinkActive="active"><i class="fa fa-cogs"></i>Skills</a></li>
            <li><a class="contact-btn" routerLink="/contact" routerLinkActive="active"><i class="fa fa-phone"></i>Contact</a></li>
        </ul>
    </div>
</div>
</nav>
</div>