<br>
<br>
<br>
<br>
<br>


<!-- resize images to 100% 350 X 220 before uploading  -->
<div class="container back">
  <div class="container">

    <div class="row text-center">

      <div class="col-xs-11 col-sm-4">

        <div class="card-container">
          <div class="card">
            <div class="image-contain">
              <img class="img-fluid" src="./assets/images/onvif.png" alt="Badgeyay">
              <div class="overlay">
                <div class="text">
                  <a class="font" href="https://github.com/abhi40308/onvif-python" target="_blank">
                    <i class="fa fa-github"></i>
                  </a>
                </div>
              </div>
            </div>


            <div class="card-body">
              <p class="card-text">Onvif Camera Dashboard (Hackathon - Finalist prize winner)</p>
              <p class="card-text">
                <span class="tags">Hackathon</span>
                <span class="tags">Django</span>
                <span class="tags">Python</span>
                <span class="tags">Onvif</span>
                <span class="tags">IP Camera</span>
              </p>
            </div>
          </div>
        </div>
      </div>

      <div class="col-xs-11 col-sm-4">

        <div class="card-container">
          <div class="card">
            <div class="image-contain">
              <img class="img-fluid" src="./assets/images/badgeyay.png" alt="Badgeyay">
              <div class="overlay">
                <div class="text">
                  <a class="font" href="https://github.com/fossasia/badgeyay" target="_blank">
                    <i class="fa fa-github"></i>
                  </a>
                </div>
              </div>
            </div>


            <div class="card-body">
              <p class="card-text">Badgeyay (Open Source)</p>
              <p class="card-text">
                <span class="tags">Open Source</span>
                <span class="tags">Flask</span>
                <span class="tags">Python</span>
                <span class="tags">Ember.js</span>
                <span class="tags">Semantic-UI</span>
              </p>
            </div>
          </div>
        </div>
      </div>


      <div class="col-xs-11 col-sm-4">

        <div class="card-container">
          <div class="card">
            <div class="image-contain">
              <img class="img-fluid" src="./assets/images/code-stamper.png" alt="Code Stamper">
              <div class="overlay">
                <div class="text">
                  <a class="font" href="https://github.com/abhi40308/code-stamper" target="_blank">
                    <i class="fa fa-github"></i>
                  </a>
                </div>
              </div>
            </div>


            <div class="card-body">
              <p class="card-text">Code Stamper (Blog application)</p>
              <p class="card-text">
                <span class="tags">WebApp</span>
                <span class="tags">Bootstrap4</span>
                <span class="tags">Django</span>
                <span class="tags">Python</span>
              </p>
            </div>
          </div>
        </div>
      </div>

    </div>

    <div class="row text-center">

      <div class="col-xs-11 col-sm-4">

        <div class="card-container">
          <div class="card">
            <div class="image-contain">
              <img class="img-fluid" src="./assets/images/iiitkalyani.png" alt="iiitkalyani">
              <div class="overlay">
                <div class="text">
                  <a class="font" href="https://abhi40308.github.io/">
                    <i class="fa fa-github"></i>
                  </a>
                </div>
              </div>
            </div>
            <div class="card-body">
              <p class="card-text">IIIT Kalyani Website</p>
              <p class="card-text">
                <span class="tags">WebApp</span>
                <span class="tags">Bootstrap4</span>
                <span class="tags">UI</span>
              </p>
            </div>
          </div>
        </div>
      </div>

      <div class="col-xs-11 col-sm-4">

        <div class="card-container">
          <div class="card">
            <div class="image-contain">
              <img class="img-fluid" src="./assets/images/portfolio.png" alt="Portfolio">
              <div class="overlay">
                <div class="text">
                  <a class="font" href="https://github.com/abhi40308/angular-portfolio" target="_blank">
                    <i class="fa fa-github"></i>
                  </a>
                </div>
              </div>
            </div>

            <div class="card-body">
              <p class="card-text">Portfolio</p>
              <p class="card-text">
                <span class="tags">WebApp</span>
                <span class="tags">Bootstrap4</span>
                <span class="tags">Angular2</span>
              </p>
            </div>
          </div>
        </div>

      </div>

      <div class="col-xs-11 col-sm-4">

        <div class="card-container">
          <div class="card">
            <div class="image-contain">
              <img class="img-fluid" src="./assets/images/libMan.png" alt="restaurant">
              <div class="overlay">
                <div class="text">
                  <a class="font" href="https://github.com/abhi40308/Library_management" target="_blank">
                    <i class="fa fa-github"></i>
                  </a>
                </div>
              </div>
            </div>

            <div class="card-body">
              <p class="card-text">Library Management System</p>
              <p class="card-text">
                <span class="tags">DesktopApp</span>
                <span class="tags">Java</span>
                <span class="tags">Netbeans</span>
              </p>
            </div>
          </div>
        </div>

      </div>
    </div>

    <div class="row text-center">

      <div class="col-xs-11 col-sm-4">

        <div class="card-container">
          <div class="card">
            <div class="image-contain">
              <img class="img-fluid" src="./assets/images/typing.png" alt="restaurant">
              <div class="overlay">
                <div class="text">
                  <a class="font" href="https://github.com/abhi40308/typing_hacks" target="_blank">
                    <i class="fa fa-github"></i>
                  </a>
                </div>
              </div>
            </div>

            <div class="card-body">
              <p class="card-text">Typing Websites Hack</p>
              <p class="card-text">
                <span class="tags">WebApp</span>
                <span class="tags">Python</span>
                <span class="tags">Web Crawling</span>
                <span class="tags">Selenium</span>
              </p>
            </div>
          </div>
        </div>

      </div>

      <div class="col-xs-11 col-sm-4">

        <div class="card-container">
          <div class="card">
            <div class="image-contain">
              <img class="img-fluid" src="./assets/images/github-data.png" alt="github-data">
              <div class="overlay">
                <div class="text">
                  <a class="font" href="https://github.com/abhi40308/github-data-viewer" target="_blank">
                    <i class="fa fa-github"></i>
                  </a>
                </div>
              </div>
            </div>

            <div class="card-body">
              <p class="card-text">Github User Stats</p>
              <p class="card-text">
                <span class="tags">WebApp</span>
                <span class="tags">REST API</span>
                <span class="tags">JSON</span>
                <span class="tags">Django</span>
                <span class="tags">Python</span>
              </p>
            </div>
          </div>
        </div>

      </div>

      <div class="col-xs-11 col-sm-4">

        <div class="card-container">
          <div class="card">
            <div class="image-contain">
              <img class="img-fluid" src="./assets/images/res-angular.png" alt="Restaurant">
              <div class="overlay">
                <div class="text">
                  <a class="font" href="https://github.com/abhi40308/angular-coursera" target="_blank">
                    <i class="fa fa-github"></i>
                  </a>
                </div>
              </div>
            </div>

            <div class="card-body">
              <p class="card-text">Restaurant Website in angular</p>
              <p class="card-text">
                <span class="tags">WebApp</span>
                <span class="tags">Typescript</span>
                <span class="tags">Material Design</span>
                <span class="tags">Angular2</span>
              </p>
            </div>
          </div>
        </div>

      </div>

    </div>

    <div class="row text-center">

      <div class="col-xs-11 col-sm-4">

        <div class="card-container">
          <div class="card">
            <div class="image-contain">
              <img class="img-fluid" src="./assets/images/restaurant.png" alt="restaurant">
              <div class="overlay">
                <div class="text">
                  <a class="font" href="https://github.com/abhi40308/coursera-Bootstrap4" target="_blank">
                    <i class="fa fa-github"></i>
                  </a>
                </div>
              </div>
            </div>

            <div class="card-body">
              <p class="card-text">Restaurant Website</p>
              <p class="card-text">
                <span class="tags">WebApp</span>
                <span class="tags">Bootstrap4</span>
                <span class="tags">JS</span>
              </p>
            </div>
          </div>
        </div>

      </div>

      <div class="col-xs-11 col-sm-4">

        <div class="card-container">
          <div class="card">
            <div class="image-contain">
              <img class="img-fluid" src="./assets/images/crypcheck.png" alt="restaurant">
              <div class="overlay">
                <div class="text">
                  <a class="font" href="https://github.com/abhi40308/crypcheck" target="_blank">
                    <i class="fa fa-github"></i>
                  </a>
                </div>
              </div>
            </div>

            <div class="card-body">
              <p class="card-text">Cryptocurrency Price Tracker</p>
              <p class="card-text">
                <span class="tags">WebApp</span>
                <span class="tags">Angular2</span>
                <span class="tags">API</span>
                <span class="tags">Bootstrap4</span>
              </p>
            </div>
          </div>
        </div>

      </div>
    </div>

  </div>

</div>
