<br>
<br>
<br>
<br>
<br>


<!-- resize images to 100% 350 X 220 before uploading  -->
<div class="container">
    <div class="container">
        <div class="row text-center">

     
            <div class="col-xs-12 col-sm-4">    
            
                <div class="card-container">  
                <div class="card">
                <div class="image-contain">
                <img class="img-fluid" src="./assets/images/code-stamper.png" alt="Code Stamper">
                <div class="overlay">
                <div class="text"><a class="font" href="https://github.com/abhi40308/code-stamper" target="_blank"><i class="fa fa-github"></i></a>
                </div>
                </div>
                </div>

    
                <div class="card-body">
                <p class="card-text">Code Stamper (Blog application)</p>
                <p class="card-text text-muted">Web / Bootstrap4 / Django</p>
                </div>
                </div> 
                </div>
            </div>


    
            <div class="col-xs-12 col-sm-4">
                
                <div class="card-container">
                <div class="card">
                <div class="image-contain">
                <img class="img-fluid" src="./assets/images/iiitkalyani.png" alt="iiitkalyani">
                <div class="overlay">
                <div class="text"><a class="font" href="https://abhi40308.github.io/"><i class="fa fa-github"></i></a>
                </div>
                </div>
                </div>
                <div class="card-body">
                <p class="card-text">IIIT Kalyani Website</p>
                <p class="card-text text-muted">Web / Bootstrap4 / Django</p>
                </div>
                </div>
                </div>
            </div> 

            <div class="col-xs-12 col-sm-4">    
        
                <div class="card-container">  
                <div class="card">
                <div class="image-contain">
                 <img class="img-fluid" src="./assets/images/portfolio.png" alt="Portfolio">
                <div class="overlay">
                <div class="text"><a class="font" href="https://github.com/abhi40308/angular-portfolio" target="_blank"><i class="fa fa-github"></i></a>
                </div>
                </div>
                </div>

                <div class="card-body">
                <p class="card-text">Portfolio</p>
                <p class="card-text text-muted">Web / Bootstrap4 / Angular2</p>
                </div>
                </div> 
                </div>
                
            </div>

        </div>
      
   
    
        <div class="row text-center">

            
            
            <div class="col-xs-12 col-sm-4">    
        
                <div class="card-container">  
                <div class="card">
                <div class="image-contain">
                 <img class="img-fluid" src="./assets/images/typing.png" alt="restaurant">
                <div class="overlay">
                <div class="text"><a class="font" href="https://github.com/abhi40308/typing_hacks" target="_blank"><i class="fa fa-github"></i></a>
                </div>
                </div>
                </div>

                <div class="card-body">
                <p class="card-text">Typing Websites Hack</p>
                <p class="card-text text-muted">Web / Python / Web Crawling / Selenium</p>
                </div>
                </div> 
                </div>
                
            </div>

            <div class="col-xs-12 col-sm-4">    
        
                <div class="card-container">  
                <div class="card">
                <div class="image-contain">
                 <img class="img-fluid" src="./assets/images/github-data.png" alt="github-data">
                <div class="overlay">
                <div class="text"><a class="font" href="https://github.com/abhi40308/github-data-viewer" target="_blank"><i class="fa fa-github"></i></a>
                </div>
                </div>
                </div>

                <div class="card-body">
                <p class="card-text">Github User Stats</p>
                <p class="card-text text-muted">Web / JSON / REST API / Django</p>
                </div>
                </div> 
                </div>
                
            </div>

            <div class="col-xs-12 col-sm-4">    
        
                <div class="card-container">  
                <div class="card">
                <div class="image-contain">
                 <img class="img-fluid" src="./assets/images/res-angular.png" alt="Restaurant">
                <div class="overlay">
                <div class="text"><a class="font" href="https://github.com/abhi40308/angular-coursera" target="_blank"><i class="fa fa-github"></i></a>
                </div>
                </div>
                </div>

                <div class="card-body">
                <p class="card-text">Restaurant Website in angular</p>
                <p class="card-text text-muted">Web / Typescript / Material Design / Angular2</p>
                </div>
                </div> 
                </div>
                
            </div>

        </div>

        <div class="row text-center">

            
            
            <div class="col-xs-12 col-sm-4">    
        
                <div class="card-container">  
                <div class="card">
                <div class="image-contain">
                 <img class="img-fluid" src="./assets/images/restaurant.png" alt="restaurant">
                <div class="overlay">
                <div class="text"><a class="font" href="https://github.com/abhi40308/coursera-Bootstrap4" target="_blank"><i class="fa fa-github"></i>
                </a>
                </div>
                </div>
                </div>

                <div class="card-body">
                <p class="card-text">Restaurant Website</p>
                <p class="card-text text-muted">Web / JS / Bootstrap4</p>
                </div>
                </div> 
                </div>
                
            </div>

            <div class="col-xs-12 col-sm-4">    
        
                <div class="card-container">  
                <div class="card">
                <div class="image-contain">
                 <img class="img-fluid" src="./assets/images/libMan.png" alt="restaurant">
                <div class="overlay">
                <div class="text"><a class="font" href="https://github.com/abhi40308/Library_management" target="_blank"><i class="fa fa-github"></i>
                </a>
                </div>
                </div>
                </div>

                <div class="card-body">
                <p class="card-text">Library Management System</p>
                <p class="card-text text-muted">DesktopApp / Java / Netbeans</p>
                </div>
                </div> 
                </div>
                
            </div>

            <div class="col-xs-12 col-sm-4">    
        
                <div class="card-container">  
                <div class="card">
                <div class="image-contain">
                 <img class="img-fluid" src="./assets/images/crypcheck.png" alt="restaurant">
                <div class="overlay">
                <div class="text"><a class="font" href="https://github.com/abhi40308/crypcheck" target="_blank"><i class="fa fa-github"></i>
                </a>
                </div>
                </div>
                </div>

                <div class="card-body">
                <p class="card-text">Cryptocurrency Price Tracker</p>
                <p class="card-text text-muted">Angular2 / API / Bootstrap4</p>
                </div>
                </div> 
                </div>
                
            </div>

        </div>
        
    </div>
</div>