.card-container{
  /* border: 0.5px solid grey; */
  /* box-shadow: 1px 1px 0.5px grey; */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

p.card-text {
	text-align: center;
  font-size: 13px;
  color: rgb(235, 229, 229);
}


a.font {
	font-size: 50px;
	color: black;
}

a.font:hover {
	color: green;
}

[class*="col-"] {
      margin-bottom: 15px;
  }

.image-contain{
	width: 100%;
	height: 100%;
}

img {
	display: block;
	width: 100%;
	height: auto;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: silver;
}


.image-contain:hover .overlay{
  opacity: 0.6;
}

.text {
  color: black;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.tags{
  color: rgba(58, 54, 54, 0.973);
  background: rgba(97, 235, 17, 0.712);
  border-radius: 15%;
  padding: 0px 2px 0px 2px;
}

p {
	color: white;
}
