<div class="container text-white">
  <a class="blog-btn" routerLink="/" routerLinkActive="active"><i class="fa fa-angle-double-left"></i> Back</a>

  <div class="row main-text">
      <div class="container-padding">
          <!-- <p class="note-text">Projects I've build/contributed to (approx sorted by new/major ones first)</p> -->
          <br>
          <a class="blog-btn" href="https://github.com/hasura/graphql-engine/commits?author=abhi40308">
              Hasura GraphQL Engine
          </a>
          - Blazing fast, instant realtime GraphQL APIs on your DB
          <br>
          <br>
          <a class="blog-btn" href="https://github.com/openMF/web-app">
              Mifos Web App
          </a>
          - Mifos X Banking App built on top of the Fineract Platform
          <br>
          <br>
          <a class="blog-btn" href="https://github.com/openMF/digital-bank-ui/commits?author=abhi40308">
              Digital Bank
          </a>
          - Digital Bank user interface for staff on top of Fineract CN
          <br>
          <br>
          <a class="blog-btn" href="https://github.com/abhi40308/onvif-django-client">
              Onvif Django Client</a>
          - Django app to connect to onvif cameras (Onvif hackathon)
          <br>
          <br>
          <a class="blog-btn" href="https://github.com/abhi40308/instagram-clone">
              Instagram clone</a>
          - IG clone in React with GraphQL and Hasura
          <br>
          <br>
          <a class="blog-btn" href="https://github.com/vaibhavshukla182/Brain-MRI-Segmentation">
              Brain MRI
          </a>
          - Brain MRI Segmentation using Machine Learning (Smart India Hackathon 2019 -
          Department of Atomic Energy)
          <br>
          <br>
          <a class="blog-btn" href="https://github.com/fossasia/badgeyay/commits?author=abhi40308">
              Badgeyay</a>
          - Attendee Badge Generator for Conferences
          <br>
          <br>
          <a class="blog-btn" href="https://github.com/abhi40308/hackernews-clone">
              HackerNews Clone</a>
          - HN clone with GraphQL, Hasura and React
          <br>
          <br>
          <a class="blog-btn" href="https://github.com/abhi40308/custom-error-pages-graphQL">
              GraphQL Error Pages
          </a>
          - Building custom error pages in React with Hasura GraphQL engine
          <br>
          <br>
          <a class="blog-btn" href="https://github.com/abhi40308/Hand-gesture-recognition">
              Hand Gesture Recognition
          </a>
          - Hand Gesture Recognition using machine learning
          <br>
          <br>
          <a class="blog-btn" href="https://github.com/abhi40308/News-Documents-Clustering">
              News Similarity Detection
          </a>
          - News document clustering and similarity detection using LSA and K-means (NLP)
          <br>
          <br>
          <a class="blog-btn" href="https://github.com/abhi40308/iiitkalyaniWebsite">
              IIIT Kalyani Website
          </a>
          - Website of IIIT Kalyani as a part of Web Team
          <br>
          <br>
          <a class="blog-btn" href="https://github.com/abhi40308/notes-app">
              Notes app
          </a>
          - Notes app created using react and firebase realtime database
          <br>
          <br>
          <a class="blog-btn" href="https://github.com/abhi40308/Library_management">
              Library Management System
          </a>
          - Desktop app using java as a group project
          <!-- <br>
          <br>
          <a class="blog-btn" href="https://github.com/abhi40308/ecomm-org">
              Ecomm org
          </a>
          - Django ecommerce platform for non-profit organisations to sell their merchandise -->
          <!-- <br>
          <br>
          <a class="blog-btn" href="https://github.com/abhi40308/code-stamper">
              Code Stamper
          </a>
          - Blog app using Django -->
          <br>
          <br>
          <a class="blog-btn" href="https://github.com/abhi40308/typing_hacks">
              Typing Websites Hack
          </a>
          - Python scripts to hack some major typing websites
          <br>
          <br>
          <a class="blog-btn" href="https://github.com/abhi40308/Android_projects/tree/master/NewsReader">
              News Reader Android App
          </a>
          - Android app to fetch latest news from HackerNews API
          <!-- <br>
          <br>
          <a class="blog-btn" href="https://github.com/abhi40308/github-data-viewer">
              Github stats viewer
          </a>
          - Fetch Github stats for users
          -->
          <br>
          <br>
          <a class="blog-btn" href="https://github.com/abhi40308/crypcheck">
              Cryptocurrency Price Tracker
          </a>
          - Fetch crypto price using CoinMarketCap API
          <br>
          <br>
      </div>
  </div>
</div>