<div class="container margin">
  <div class="row">
    <a class="font" href="https://www.linkedin.com/in/abhijeetkhangarot/" target="_blank">
      <i class="fa fa-linkedin-square"></i>
    </a>

    <a class="font git" href="https://github.com/abhi40308" target="_blank">
      <i class="fa fa-github"></i>
    </a>

    <a class="font tw" href="https://twitter.com/abhi_khangarot" target="_blank">
      <i class="fa fa-twitter"></i>
    </a>

    <a class="font gp" href="https://www.instagram.com/abhi_khangarot/" target="_blank">
      <i class="fa fa-instagram"></i>
    </a>

    <a class="font fb" href="https://www.facebook.com/abhijeetsingh.khangarot" target="_blank">
      <i class="fa fa-facebook-square"></i>
    </a>

    <!-- <a class="font q" href="https://medium.com/@abhi_khangarot" target="_blank">
      <i class="fa fa-medium"></i>
    </a> -->

    <!-- <a class="font tw" href="https://stackoverflow.com/users/7088648/abhijeet-khangarot?tab=profile" target="_blank">
      <i class="fa fa-stack-overflow"></i>
    </a> -->

    <!-- <a class="font tw" href="https://www.codechef.com/users/abhi_khangarot" target="_blank">
        <i class="fa fa-code"></i>
      </a> -->

    <!-- <a class="font tw" href="https://codeforces.com/profile/abhijeet_khangarot" target="_blank">
        <i class="fa fa-code"></i>
      </a> -->
  </div>
</div>