.margin {
	margin-top: 40px;
  }
  
  p {
	color: #f4f7f9;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  }
  
  .sketch {
	margin: 0;
	top: 0;
	left: 0;
	position: fixed;
	width: 100%;
	height: 100%;
  }
  
  p.bottom {
	font-size: 15px;
	color: white;
  }
  
  #form-send ul li {
	font-size: 13px;
	color: white;
  }
  
  label {
	color: grey;
  }
  
  p.text-muted {
	font-size: 12px;
  }
  
  #form-send {
	margin-top: 20%;
	/*margin-left: 0;*/
  }
  
  @media screen and (min-width: 600px) {
	#form-send {
	  margin-top: 10%;
	  /*margin-left: 0;*/
	}
  }
  
  a.font {
	color: #f4f7f9;
	font-size: 20px;
	letter-spacing: 5px;
	text-decoration: none;
  }
  
  @media screen and (min-width: 760px) {
	a.font {
	  color: #f4f7f9;
	  font-size: 25px;
	  letter-spacing: 15px;
	  text-decoration: none;
	}
  }
  
  a.font:hover {
	color: rgba(56, 167, 241, 0.884);
  }
  
  p {
	color: white;
	font-size: 18px;
  }
  