<div class="container">
    <div id="form-send" class="row">           
    <div class="col-md-8 col-sm-12 col-md-offset-2">

    <div class="row">	
    <div class="col-md-12">
     <p> Write to me if : </p>
        <ul>
            <li>You have a project or an idea, that i can help you to implement</li>
            <li>There is a wish to get me involved in some creative work</li>
            <li>You are a recruiter</li>
            <li>You just wanna say 'hi!'</li>
        </ul> 
    </div>
	</div>
    <br>
    <br>
    <form id="contact-form" method="post" action="/assets/js/contact.php" name="myform" role="form">

    <div class="messages"></div>

    <div class="controls">

        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    <label for="form_name">Name *</label>
                    <input id="form_name" type="text" name="name" class="form-control" placeholder="What your mom calls you *" required="required" data-error="Name is required.">
                    <div class="help-block with-errors"></div>
                </div>
            </div>
            
            <div class="col-sm-6">
                <div class="form-group">
                    <label for="form_email">Email *</label>
                    <input id="form_email" type="email" name="email" class="form-control" placeholder="Where can i email you back *" required="required" data-error="Valid email is required.">
                    <div class="help-block with-errors"></div>
                </div>
            </div>
        </div>
            
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label for="form_message">Message *</label>
                    <textarea id="form_message" name="message" class="form-control" placeholder="What's on your mind *" rows="4" required="required" data-error="Please,leave us a message."></textarea>
                    <div class="help-block with-errors"></div>
                </div>
            </div>
            <br>
            <div class="col-md-12">
                <input type="submit" class="btn btn-success btn-send" value="Send message">
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-12">
                <p class="text-muted"><strong>*</strong> These fields are required (all fields are required anyways)</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <p class="text-muted">It is currently hosted on github (for free of course) and github doesn't support backend, so the form won't work. But you can find me on :</p>
            </div>
        </div>
    </div>
    </form> 
</div>
</div>
</div>



<br>
<br>    
<div class="row" id="footer">

         <a class="font" href="https://www.linkedin.com/in/abhijeet-singh-khangarot-7a6792126/" target="_blank"><i class="fa fa-linkedin-square"></i></a>

        <a class="font git" href="https://github.com/abhi40308" target="_blank"><i class="fa fa-github"></i></a>

        <a class="font gp" href="https://plus.google.com/u/0/108829467037550076358" target="_blank"><i class="fa fa-google-plus-official"></i></a>

        <a class="font fb" href="https://www.facebook.com/abhijeetsingh.khangarot" target="_blank"><i class="fa fa-facebook-square"></i></a>

        <a class="font tw" href="https://twitter.com/abhi40308" target="_blank"><i class="fa fa-twitter"></i></a>

        <a class="font q" href="https://www.quora.com/profile/Abhijeet-Singh-676" target="_blank"><i class="fa fa-quora"></i></a>
</div>

<script src="/assets/js/contact.js"></script>
