.sketch {
	margin: 0;
	top: 0;
	left: 0;
	position: fixed;
	width: 100%; 
	height: 100%;
}

p.bottom{
		font-size: 15px;
		color: white;
	}

#form-send ul li{
	font-size: 13px;
	color: white;
}

label{
	color: grey;
}

p.text-muted{
	font-size: 12px;

}

#form-send {
	margin-top: 20%;
	/*margin-left: 0;*/
}

@media screen and (min-width: 600px){
#form-send {
	margin-top: 10%;
	/*margin-left: 0;*/
}
}

#footer{
	position: relative;
	bottom: 5px;
	width: 100%;
	text-align: center;
	margin-bottom: 0;
	}
	
	#footer2{
	position: relative;
	bottom: 0;
	width: 100%;
	text-align: center;
	margin-bottom: 0;
	}

a.font {
	color: silver;
	font-size: 27px;
	letter-spacing: 20px;
}

@media screen and (min-width: 760px){

#footer{
	position: relative;
	bottom: 5px;
	width: 100%;
	text-align: center;
	margin-bottom: 0;
	}
	
	#footer2{
	position: relative;
	bottom: 0;
	width: 100%;
	text-align: center;
	margin-bottom: 0;
	}

a.font {
	color: silver;
	font-size: 35px;
	letter-spacing: 30px;
}
}


a.font:hover {
	color: orange;
}


p {
	color: white;
	font-size: 18px;
}
