<br>
<br>
<br>
<br>

<div class="container">

  <div class="row">

    <div class="col-lg-4 col-sm-6 col-xs-12">
      <div class="tile">
        <img src="./assets/images/image1.png" class="img-fluid" />
        <div class="text">
          <h2 class="animate-text">Programming Languages</h2>
          <br>
          <ul class="animate-text">
            <li>C </li>
            <li>C++ (STL)</li>
            <li>Python</li>
            <li>Java</li>
            <li>Java Script</li>
          </ul>

        </div>
      </div>
    </div>

    <div class="col-lg-4 col-sm-6 col-xs-12">
      <div class="tile">
        <img class="img-fluid" src="./assets/images/image2.png" />
        <div class="text">
          <h2 class="animate-text">Web Development</h2>
          <br>
          <ul class="animate-text">
            <li>Front End</li>
            <div class="animate-text">
              <ul>
                <li>HTML5</li>
                <li>CSS3</li>
                <li>Typescript</li>
                <li>Angular-material</li>
              </ul>
              <li>Frameworks</li>
              <ul>
                <li>Angular 2+</li>
                <li>Ember.js</li>
                <li>Bootstrap 4</li>
                <li>Semantic UI</li>
              </ul>
              <li>Libraries</li>
              <ul>
                <li>Jquery</li>
              </ul>
            </div>
          </ul>

        </div>
      </div>
    </div>

    <div class="col-lg-4 col-sm-6 col-xs-12">
      <div class="tile">
        <img src="./assets/images/image3.png" class="img-fluid" />
        <div class="text">
          <h2 class="animate-text">Web Development</h2>
          <br>
          <ul class="animate-text">
            <li>Back End</li>
            <div class="animate-text">
              <ul>
                <li>Python</li>
                <li>Java Script</li>
                <li>JSON</li>
                <li>RESTFul API's</li>
                <li>AJAX</li>
              </ul>

              <li>Frameworks</li>
              <ul>
                <li>Django</li>
                <li>Flask</li>
              </ul>

              <li>Database</li>
              <ul>
                <li>MySQL</li>
                <li>SQlite</li>
                <li>Postgresql</li>
              </ul>
            </div>
          </ul>

        </div>
      </div>
    </div>

    <div class="col-lg-4 col-sm-6 col-xs-12">
      <div class="tile">
        <img src="./assets/images/image4.png" class="img-fluid" />
        <div class="text">
          <h2 class="animate-text">Java Desktop Apps</h2>
          <br>
          <div class="animate-text">
            <ul>
              <li>Swing (basics)</li>
              <li>JavaFX (basics)</li>
              <li>IDE</li>
              <ul>
                <li>Netbeans</li>
              </ul>
            </ul>

          </div>

        </div>
      </div>
    </div>


    <div class="col-lg-4 col-sm-6 col-xs-12">
      <div class="tile">
        <img src="./assets/images/image5.png" class="img-fluid" />
        <div class="text">
          <h2 class="animate-text">Mobile App Development</h2>
          <br>
          <ul class="animate-text">
            <li>Android Development</li>
            <ul>
              <li>Java</li>
              <li>Firebase (basics)</li>
              <li>API's</li>
              <li>Android SDK</li>
            </ul>
          </ul>

        </div>
      </div>
    </div>

    <div class="col-lg-4 col-sm-6 col-xs-12">
      <div class="tile">
        <img src="./assets/images/image6.png" class="img-fluid" />
        <div class="text">
          <h2 class="animate-text">Others</h2>
          <br>
          <ul class="animate-text">
            <li>Version Control</li>
            <ul>
              <li>Git</li>
              <li>Github</li>
            </ul>
            <li>Machine Learning</li>
            <ul>
              <li>Octave (basics)</li>
            </ul>
            <li>Competitive Programming</li>
            <li>Data Structures and Algorithms</li>
          </ul>
        </div>
      </div>
    </div>
  </div>

</div>
