/* You can add global styles to this file, and also import other style files */
html, body {
	background-image: url("assets/images/space.png");
	background-repeat: no-repeat;
    background-attachment: fixed;
	margin: 0;
}

html {
    overflow: hidden;
    height: 100%;
}

body {
    height: 100%;
    overflow: auto;
}