<div class="container text-white">

    <p>Hi there! Thanks for stopping by. <br><br> 
        I am Abhijeet Singh, currently pursuing B.Tech in Computer Science from IIIT Kalyani, India. My current passions are coding, more coding and a whole lot of other things. <br> <br>
        Now that you are here, i am assuming that you are genuinely interested in reading about my projects, coding skills, and accomplishments (which are none till now). <br> Now, if you are a kind of person who doesn't like bad jokes or you are in some kind of hurry, you can skip directly to projects and skills section from this point (although i have no idea why on earth would anyone do that, right?)<br> <br>So a little bit about this portfolio first. <br> I would have made this more interesting but, u know, slow internet/loading time sucks more than the UI of this portfolio, so i tried to use as less things as possible, but I have converted it to a single page application using angular2. (Only to cover up bad UI)</p>


    <h2>About Me</h2>

    <div class="row">
        
        <div class="col-sm-3 col-xs-12">
            <img class="img-fluid" src="./assets/images/1.jpg">
        </div>
        <div class="col-sm-7 col-lg-8 col-sm-offset-2 col-lg-offset-1 col-xs-12">

            <p> I am a 20 year old boy who is hugely interested in programming and entrepreneurship, and i have some big goals in mind (of course i am not telling those to you). <br> I never thought I had such an exciting life, before I heard what people talk about me. <br>But, the last year was quite bad for me, i was rude to my friends and was making fun of them, in 2018, i am gonna be the same. <br> <br>
            I have quite a few rare talents <br> I can cook 2 minute maggie in 1 minute. <br>
            I know the exact location of every food item in the supermarket. <br> I can shamelessly copy a few good lines from internet without you knowing. <br> <br>
            Once I flew the exam center 10 minutes before exam coz my friend forgot his admit card. We went to his home (which was in another city unfortunately) and returned within the first half hour of exam. (It was my 12 board Physics exam by the way, and i scored 95 :D) <br> <br>
            Sometimes, I think about all of the people in the world and wonder, why they are so stupid and why I’m not super rich then. Haven't this thought struck you at some point in your life. <br> 
             <br>
            Well, i am blessed with a few good friends, a very caring family, and a highly developed brain. <br>
            Whatever little things i have achieved till now, all the credit goes to my friends, without whom i would have done all this 3 years earlier. <br>
            Anyways, everyone has weaknesses, but I’m not everyone. Period. <br>
 
             </p>

        </div>
    </div>
</div>