.text-white {
  margin-top: 5%;
  float: none;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

.text-white p {
  font-size: 14px;
  background-color: rgb(8, 25, 36);
  opacity: 0.9;
  padding: 5px 10px 5px 10px;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 200px;
  height: auto;
  border-radius: 50%;
}

@media only screen and (max-width: 1200px) {
  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 120px;
    height: auto;
  }
  .text-white p {
    font-size: 13px;
  }
}

.blog-btn {
  color: white;
}
