<div class="container text-white">
  <div class="row">
    <div class="col-lg-2">
      <img style="border-radius: 50%;" class="img-fluid" src="./assets/images/1.jpg">
    </div>


  <div class="col-lg-10">
    <p style="color: white;">Hi 👋, there! Thanks for stopping by. I am Abhijeet, currently pursuing B.Tech in Computer Science 💻 from IIIT Kalyani, India.
      <br> <br> I like to build stuff 🔨 and work with new technologies ⚡. I am also hugely interested in entrepreneurship 👨🏻‍💻, and the marketing 💼 side too.
      <br> <br> Currently, most of my time goes in learning, working for companies, freelancing or building something of my own. I have worked with Trendskill and FOSSASIA in past.
      <br>
    </p>
  </div>
</div>
</div>
