<div class="container text-white">
  <div class="row">
    <img style="border-radius: 5%" class="img-fluid" src="./assets/images/3.jpeg" />
  </div>

  <div class="row main-text">
    <div class="container-padding">
      <p class="sub-text">
        Hi 👋 I am Abhijeet, currently working as a software engineer at Hasura.
      </p>
      <br />
      <p class="sub-text">
        I care about tech ⚡, pressing problems of the world 🌎, and the impact
        and meaning of my work. I'm a startup enthusiast. I love contributing to
        awesome open source projects, and doing product design and development.
      </p>
        
      <br />
      <p class="sub-text">
        I have worked in web-dev, mainly in Javascript/Typescript frontend
        (React-Redux, Angular) and python-based backend (Django). I'm also
        interested in machine learning projects, and algorithmic programming.
      </p>
      <br />
      <a class="blog-btn" routerLink="/blog" routerLinkActive="active">Blog</a>
      |
      <a class="blog-btn" routerLink="/projects" routerLinkActive="active">Projects</a>
      <!-- <a class="blog-btn" href="../../assets/pdf/abhijeet.pdf" target="_self" download>Resume</a> -->
      <app-contact></app-contact>
    </div>
  </div>
</div>